*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/livedatatest
/captures
.externalNativeBuild
!/local.properties
/settings.gradle
.gitignore
build.gradle
libs/
proguard-rules.pro
src/
